<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<meta charset="utf-8" />
			{% if FEED_ALL_ATOM %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
			{% endif %}
			{% if FEED_ALL_RSS %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
			{% endif %}
			{% if FEED_ATOM %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
			{% endif %}
			{% if FEED_RSS %}
			<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
			{% endif %}
			{% if CATEGORY_FEED_ATOM and category %}
			<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
			{% endif %}
			{% if CATEGORY_FEED_RSS and category %}
			<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
			{% endif %}
			{% if TAG_FEED_ATOM and tag %}
			<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
			{% endif %}
			{% if TAG_FEED_RSS and tag %}
			<link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
			{% endif %}
			<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
			<link rel="stylesheet" href="/theme/css/pygment.css" />
			<noscript>
				<link rel="stylesheet" href="/theme/css/skel-noscript.css" />
				<link rel="stylesheet" href="/theme/css/style.css" />
				<link rel="stylesheet" href="/theme/css/style-desktop.css" />
			</noscript>
			<script>
				window.SITEURL = "{{SITEURL}}"
			</script>
		{% endblock head %}
	</head>
	<body class="no-sidebar">
		<!-- Header -->
		{% include 'header.html' %}

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row 12u">
						<div class="twitter-feed 4u">
							{% include 'twitter-feed.html' %}
						</div>
						<div class="carousel-feed 8u">
							{% include 'carousel-feed.html' %}
						</div>
					</div>
					<!-- Blog posts currently in content/*.md files-->
					{% block content %}
					{% endblock %}
				</div>
			</div>

		<!-- Footer -->
		{% include 'footer.html' %}

		<!-- JS dependencies -->
		<script src="/theme/js/jquery.min.js"></script>
		<script src="/theme/js/jquery.dropotron.js"></script>
		<script src="/theme/js/config.js"></script>
		<script src="/theme/js/skel.min.js"></script>
		<script src="/theme/js/skel-panels.min.js"></script>
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="/theme/css/ie8.css" /><![endif]-->
		{% include 'analytics.html' %}
	</body>
</html>
