<!-- Footer Wrapper -->
<div id="footer-wrapper">
        <!-- Footer -->
            <section id="footer" class="container">
                <div class="row">
                    <div class="8u">
                        <section>
                            <header>
                                <h2>What our attendees say...</h2>
                            </header>
                            <ul class="dates">
                            <!-- TODO: Figure out how to include testimonials from content/ folder -->
                            </ul>
                        </section>
                    </div>
                </div>
                {% if COPYRIGHT is defined and SHOW_COPYRIGHT != False %}
                <div class="row">
                    <div class="12u">
                        <!-- Copyright -->
                            <div id="copyright">
                                <ul class="links">
                                    <li>&copy; {{ COPYRIGHT }}	</li>
                                    <li>Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a> + <a href="http://iconify.it">Iconify.it</a></li>
                                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                </ul>
                            </div>
                    </div>
                </div>
                {% endif %}
            </section>
    </div>