<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                    <section id="header">

                        <!-- Logo -->
                        <h1 class="align-left"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>

                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    {% for title, link in MENUITEMS %}
                                            <li><a href="{{ link }}">{{ title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>

                    </section>

            </div>
        </div>
    </div>
</div>