{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="12u">
    <section>
        {% for article in articles_page.object_list %}
            {% if loop.index0 % 3  == 0 %}
            <div class="row">
            {% endif %}
                <div class="6u">
                    <section class="box">
                        {% if article.picture is defined %}
                        <a href="{{ SITEURL }}/{{ article.url }}" class="image image-full"><img src="{{ SITEURL }}/{{ article.picture }}" alt=""/></a>
                        {% endif %}
                        <header>
                            <h3>{{article.title }}</h3>
                            <span class="byline">{{ article.date }}</span>
                        </header>
                        {{ article.summary }}
                        <footer class="actions">
                            <a href="{{ SITEURL }}/{{ article.url }}" class="button button-icon button-icon-1">Continue Reading</a>
                        </footer>
                    </section>
                </div>
            {% if loop.index % 3  == 0 %}
            </div>
            {% endif %}
        {% endfor %}
    </section><!-- /#content -->
</div>
</div>
{% endblock content %}
